/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }

  &:active,
  &:focus {
    display: block;
    padding: 1em;
    background-color: $color-highlight;
    color: $color-highlight-contrast;
    z-index: 10;
  }

  @include print-none();
}
