@mixin adaptivelyCentered {
  margin: auto;
  @include bp-nq($medium) { max-width: $medium; }
  @include bp-nq($large) { max-width: $large - 20px; }
}

#page,
.region-bottom {
  @include adaptivelyCentered;
}

.main-content {
  clear: both;
  padding: rhythm(1);

  > .page__title {
    // This should be adjusted, but setting it with em's produces the wrong result.
    margin-bottom: rhythm(0.5);
  }
}

#footer {
  clear: both;
}

.header {
  @include pie-clearfix;
  @include small-screens {
    padding: rhythm(1);
  }
}

.header__inner { @include adaptivelyCentered; }
